.navbar {
  margin: 0px;
  padding: 0px;
  top: 0px;
  border: 0px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: blueviolet;
  text-align: center;
}
.save_button {
  text-align: center;
  margin-top: 100px;
}
